/* style resets */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: inherit;
}

img,
picture,
svg,
video {
  max-width: 100%;
}

img {
  object-fit: cover;
  object-position: center;
}

input,
textarea,
button,
select {
  font: inherit;
}

button {
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Main Classes */

svg.icon {
  width: 100%;
  height: 100%;
}
